body{
    margin: 10;
}
main{
    display: flex;
    flex-wrap: wrap;
	max-width: 60vw;
	margin: auto;
}
div{
    display: inline-block;
    margin: 3px;
    border: 2px solid grey;
}
img {
    width: calc(13.5vw - 26px);
	max-width: 224px;
}

section{
    display: flex;
    align-items:baseline;
    justify-content: center;
    align-content: space-around;
}

section p{
    margin-left: 3px;
}