* {
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table, tr, td {
	border: 1px solid #333333;
}

table {
	margin: 40px auto;
	border-collapse: collapse;
}

td {
	width: 40px;
	height: 40px;
}

#keyboard{
	cursor: pointer;
}

#back{
	background-color: coral;
	color: white;
	font-weight: 900;
	font-size: 1.5rem;
}

#enter{
	background-color: dodgerblue;
	color: white;
	font-weight: 900;
	font-size: 2rem;
}